@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
body {
  background-color: rgb(211, 205, 205);
  margin: 0;
}
.heading-font {
  font-family: "Caesar Dressing", cursive;
}
.theme-gradient {
  background-image: linear-gradient(
    to right,
    #432821,
    #826142,
    #c48e44,
    #f2eb91
  );
}

.theme-gradient--bottom {
  background-image: linear-gradient(
    to bottom,
    #432821,
    #826142,
    #c48e44,
    #f2eb91
  );
}
header {
  margin: auto;
  border-bottom: 4px ridge #c48e44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__heading {
  margin: 0;
}

.header__heading--large {
  font-size: 40px;
}

aside {
  padding: 10px;
  margin-right: 1em;
  width:20%;
}

.main-nav__link {
  display: block;
  margin: auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: ridge 1px black;
  text-decoration: none;
  color: inherit;
}

.main-nav__link:hover {
  background-color: rgba(67, 40, 33, 1);
  color: rgba(242, 235, 145, 1);
  border: 1px ridge rgba(242, 235, 145, 1);
}

.main-nav__link--active {
  background-color: rgba(242, 235, 145, 1);
  color: rgba(67, 40, 33, 1);
  border: 1px ridge rgba(67, 40, 33, 1);
}

main {
  display: flex;
  flex-direction: row;
  text-align: justify;
  height: 100vh;
}
.section-gods {
  width:80%;
}
footer {
  position: fixed;
  font-size: 0.8rem;
  bottom: 0;
  background-color: aqua;
  width: 100%;
  text-align: center;
  padding: 10px;
}

ul {
  padding-left: 60px;
  list-style-type: "\2694";
}
li {
  padding-left: 5px;
}
.image-gods {
  width:200px;
  height:250px;
}
.card {
  display: inline-block; 
  padding: 20px;
  margin: 0 auto;
  background-color: transparent;
  width: 200px;
  height: 250px;
  perspective:1000px;

}

.card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inside {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: white;
  color: black;
  box-shadow: 0 10px 30px white,0 -10px 20px gray,0 10px 20px black,0 -10px 30px #996515;
  
}

.card-back {
  background-image: linear-gradient(to bottom right, black 23%, grey);
  color: white;
  transform: rotateY(180deg);
  font-size: 14px;
  overflow: auto;
}