@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
body {
background-color: rgba(#f1f1f1);
}

header {
margin: auto;
height:80px;
background-image: linear-gradient(to right,#432821, #826142, #c48e44,#f2eb91);
border-bottom: 4px ridge #c48e44;
font-family: 'Caesar Dressing', cursive;
font-size:40px;
display: flex;
justify-content: center;
align-items: center;
}

aside {
float: left;
background-image: linear-gradient(to bottom,#432821, #826142, #c48e44,#f2eb91);
padding: 10px;
margin-right: 1em;
}

aside button{
display: block;
margin: auto;
width: 90%;
background-color: rgba(255,255,255,0.5);
padding: 10px;
border: ridge 1px black;
}

aside button:hover {
background-color: rgba(67,40,33,1);
color: rgba(242,235,145,1);
border: 1px ridge rgba(242,235,145,1);
}

button:active {
background-color: rgba(242,235,145,1);
color:rgba(67,40,33,1);
border:1px ridge rgba(67,40,33,1);
}

aside button a {
text-decoration: none;
color: inherit;
}

main {
text-align: justify;
padding: 1em;
}

footer {
position: absolute;
font-size: 8px;
bottom: 0;
left: 40%;
}